# keep it simple and secure:
#
# This ONLY works with SMTP and TLS, or SMTP-over-SSL
# This ONLY works with IMAP and SSL
#
# If your system does not support encrypted protocols, your problem is
# not yet the lack of monitoring!

[gmx.de]

login       = test@gmx.de
email       = test@gmx.de
password    = passw0rd
smtp_server = smtp.gmx.net
imap_server = imap.gmx.net
imap_idle   = True

[yahoo.com]

login           = test@yahoo.com
email           = test@yahoo.com
password        = passw0rd
smtp_server     = smtp.yahoo.com
smtp_over_ssl   = True
imap_server     = imap.yahoo.com



